{% extends "header.html" %}
{% block header %}
<link rel="stylesheet" href="static/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="static/css/assets.min.css"/>
<link rel="stylesheet" href="static/css/jquery.dataTables.css"/>
{% endblock %}

{% block body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">    
                <table id="assets-table" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Agent Name</th>
                <th>Hostname</th>
                <th>IP Address</th>
                <th>User</th>
                <th>CallBack Info</th>
                <th>Infection Technique</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-child-value="properties_2">
                <td class="details-control"></td>
                <td>Empyre_1</td>
                <td>user-mbp</td>
                <td>45.2.23.223</td>
                <td>NT SYSTEM\SYSTEM</td>
                <td>mydomian:443</td>
                <td>OLE Object</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_3">
                <td class="details-control"></td>
                <td>Empire_1</td>
                <td>win-server-02</td>
                <td>10.10.10.198</td>
                <td class="text-danger">WIN-SERVER\user</td>
                <td>mydomain:443</td>
                <td>Flash 17.x</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Agent Name</th>
                <th>Hostname</th>
                <th>IP Address</th>
                <th>User</th>
                <th>CallBack Info</th>
                <th>Infection Technique</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block footer %}
   <script src="static/js/page.assets.min.js"></script>
   <script src="static/js/jquery.dataTables.min.js"></script>
   <script src="static/js/dataTables.bootstrap.min.js"></script>
   <script src="static/js/dataTables.responsive.min.js"></script>
{% endblock %}
