{% extends "header.html" %}
{% block header %}
<link rel="stylesheet" href="static/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="static/css/assets.min.css"/>
<link rel="stylesheet" href="static/css/jquery.dataTables.css"/>
{% endblock %}

{% block body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">    
                <table id="assets-table" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Model</th>
                <th>Version</th>
                <th>Last Seen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-child-value="properties_2">
                <td class="details-control"></td>
                <td>desktop-user.kore.gq</td>
                <td>10.10.20.201</td>
                <td>01:9b:e4:bc:d1:23</td>
                <td>Windows</td>
                <td>10 S</td>
                <td class="text-danger"><b>April 24, 2017 09:53:13 Z</b></td>
                <td></td>
            </tr>
            <tr data-child-value="properties_3">
                <td class="details-control"></td>
                <td>server-core.kore.gq</td>
                <td>10.10.10.198</td>
                <td>01:3f:22:fe:de:ad</td>
                <td>Ubuntu</td>
                <td class="text-danger"><b>11.04</b></td>
                <td>May 5, 2017 08:03:56 Z</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_4">
                <td class="details-control"></td>
                <td>wifi_user</td>
                <td>192.168.1.122</td>
                <td>01:21:bc:dd:af:a1</td>
                <td>Unkown</td>
                <td>Unknown</td>
                <td>May 5, 2017 08:12:44 Z</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_5">
                <td class="details-control"></td>
                <td>domain-controller.kore.gq</td>
                <td>10.10.200.252</td>
                <td>01:3f:22:ff:84:9d</td>
                <td>Windows</td>
                <td>2012 R2</td>
                <td>May 5, 2017 07:57:00 Z</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_6">
                <td class="details-control"></td>
                <td>internal-router.kore.gq</td>
                <td>10.10.10.100</td>
                <td>01:3f:22:fe:de:aa</td>
                <td>Cisco 7600</td>
                <td class="text-danger"><b>12.15</b></td>
                <td>May 5, 2017 08:12:43 Z</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_7">
                <td class="details-control"></td>
                <td>another-user.kore.gq</td>
                <td>10.10.10.222</td>
                <td>01:3f:22:fe:df:ad</td>
                <td>macOS</td>
                <td>10.12.4</td>
                <td>May 5, 2017 08:02:54 Z</td>
                <td></td>
            </tr>
            <tr data-child-value="properties_8">
                <td class="details-control"></td>
                <td>last-user.kore.gq</td>
                <td>192.168.1.252</td>
                <td>01:bc:49:fe:be:ef</td>
                <td>Windows</td>
                <td>10 S</td>
                <td>May 5, 2017 08:11:56 Z</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Model</th>
                <th>Version</th>
                <th>Last Seen</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block footer %}
   <script src="static/js/page.assets.min.js"></script>
   <script src="static/js/jquery.dataTables.min.js"></script>
   <script src="static/js/dataTables.bootstrap.min.js"></script>
   <script src="static/js/dataTables.responsive.min.js"></script>
{% endblock %}
