{% extends "header.html" %}
{% block header %}
<link rel="stylesheet" href="static/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="static/css/assets.min.css"/>
<link rel="stylesheet" href="static/css/jquery.dataTables.css"/>
{% endblock %}

{% block body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">    
                <table id="assets-table" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Model</th>
                <th>Version</th>
                <th>Last Heartbeat</th>
            </tr>
        </thead>
        <tbody>
            <tr data-child-value="properties_2">
                <td class="details-control"></td>
                <td>gateway-buf-02.kore.gq</td>
                <td>10.10.20.1</td>
                <td>01:44:24:bc:de:ad</td>
                <td>Microtik 3414</td>
                <td>5.04</td>
                <td class="text-danger"><b>April 24, 2017 09:53:13 Z</b></td>
            </tr>
            <tr data-child-value="properties_3">
                <td class="details-control"></td>
                <td>gateway-nyc-01.kore.gq</td>
                <td>10.10.10.1</td>
                <td>01:3f:22:fe:de:ad</td>
                <td>D-Link 815N Version A</td>
                <td class="text-danger"><b>1.14</b></td>
                <td>May 5, 2017 08:03:56 Z</td>
            </tr>
            <tr data-child-value="properties_4">
                <td class="details-control"></td>
                <td>public-wifi-nyc-01.kore.gq</td>
                <td>192.168.1.1</td>
                <td>01:21:bc:dd:af:a1</td>
                <td>Linksys B5204</td>
                <td>12.04.01</td>
                <td>May 5, 2017 08:12:44 Z</td>
            </tr>
            <tr data-child-value="properties_5">
                <td class="details-control"></td>
                <td>internal-wifi-01.kore.gq</td>
                <td>10.10.200.254</td>
                <td>01:3f:22:ff:84:9d</td>
                <td>D-Link 815N Version A</td>
                <td>1.15</td>
                <td>May 5, 2017 07:57:00 Z</td>
            </tr>
            <tr data-child-value="properties_6">
                <td class="details-control"></td>
                <td>gateway-nyc-02.kore.gq</td>
                <td>10.10.10.2</td>
                <td>01:3f:22:fe:de:aa</td>
                <td>D-Link 815N Version A</td>
                <td class="text-danger"><b>1.14</b></td>
                <td>May 5, 2017 08:12:43 Z</td>
            </tr>
            <tr data-child-value="properties_7">
                <td class="details-control"></td>
                <td>gateway-nyc-03.kore.gq</td>
                <td>10.10.10.254</td>
                <td>01:3f:22:fe:df:ad</td>
                <td>D-Link 815N Version A</td>
                <td>1.14</td>
                <td>May 5, 2017 08:02:54 Z</td>
            </tr>
            <tr data-child-value="properties_8">
                <td class="details-control"></td>
                <td>public-wifi-nyc-02.kore.gq</td>
                <td>192.168.1.254</td>
                <td>01:bc:49:fe:be:ef</td>
                <td>Actiontec P90x</td>
                <td>0.9b</td>
                <td>May 5, 2017 08:11:56 Z</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Model</th>
                <th>Version</th>
                <th>Last Heartbeat</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block footer %}
   <script src="static/js/page.assets.min.js"></script>
   <script src="static/js/jquery.dataTables.min.js"></script>
   <script src="static/js/dataTables.bootstrap.min.js"></script>
   <script src="static/js/dataTables.responsive.min.js"></script>
{% endblock %}
