{% extends "header.html" %}  
{% block header %}
<link rel="stylesheet" href="static/css/jquery-jvectormap-1.2.2.css">
{% endblock %}

{% block body %}
<section class="content">
  <div class="row">
	<div class="col-lg-3 col-xs-6">
	  <div class="small-box bg-green">
		<div class="inner">
		  <h3>150</h3>

		  <p>Sessions Hooked</p>
		</div>
		<div class="icon">
		  <i class="ion ion-android-checkmark-circle"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-aqua">
		<div class="inner">
		  <h3>83<sup style="font-size: 20px">%</sup></h3>

		  <p>Infection Success Rate</p>
		</div>
		<div class="icon">
		  <i class="ion ion-stats-bars"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-yellow">
		<div class="inner">
		  <h3>440</h3>

		  <p>Active Campaigns</p>
		</div>
		<div class="icon">
		  <i class="ion ion-network"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-red">
		<div class="inner">
		  <h3>65</h3>

		  <p>Active Alerts</p>
		</div>
		<div class="icon">
		  <i class="ion ion-alert-circled"></i>
		</div>
		<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div>
	<!-- ./col -->
  </div>
  <div class="row">
	<div class="col-md-12">
	  <!-- MAP & BOX PANE -->
	  <div class="box box-success">
		<div class="box-header with-border">
		  <h3 class="box-title">Agent Report</h3>

		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
		</div>
		<!-- /.box-header -->
		<div class="box-body no-padding">
		  <div class="row">
			<div class="col-md-9 col-sm-8">
			  <div class="pad">
				<!-- Map will be created here -->
				<div id="world-map-markers" style="height: 325px;"></div>
			  </div>
			</div>
			<!-- /.col -->
			<div class="col-md-3 col-sm-4">
			  <div class="pad box-pane-right bg-green" style="min-height: 280px">
				<div class="description-block margin-bottom">
				  <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
				  <h5 class="description-header">37</h5>
				  <span class="description-text">Hits Per Day</span>
				</div>
				<!-- /.description-block -->
				<div class="description-block margin-bottom">
				  <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
				  <h5 class="description-header">94%</h5>
				  <span class="description-text">Infections Per Day</span>
				</div>
				<!-- /.description-block -->
				<div class="description-block">
				  <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
				  <h5 class="description-header">250</h5>
				  <span class="description-text">Credentials Stolen Per Day</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
    <div class="row">
	<div class="col-md-6">
	  <div class="box box-info">
		<div class="box-header with-border">
		  <h3 class="box-title">Latest Infections</h3>

		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr>
				<th>Hostname</th>
                                <th>IP Address</th>
				<th>Payload</th>
				<th>Infection Time</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
				<td>windows-server-02</td>
                                <td>24.123.12.1</td>
				<td><span class="label label-danger">Empire</span></td>
				<td>2 mins</td>
			  </tr>
			  <tr>
				<td>brandons-mbp</td>
                                <td>24.123.12.14</td>
				<td><span class="label label-warning">Empyre</span></td>
				<td>5 mins</td>
			  </tr>
			  <tr>
				<td>daniels-ubuntu</td>
                                <td>12.24.36.48</td>
				<td><span class="label label-info">Netcat</span></td>
				<td>10 mins</td>
			  </tr>
			  <tr>
				<td>user-pc</td>
                                <td>83.122.4.21</td> 
				<td><span class="label label-danger">Empire</span></td>
				<td>1 hour</td>
			  </tr>
			  </tbody>
			</table>
		  </div>
		</div>
		<div class="box-footer clearfix">
		  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">View More</a>
		</div>
	  </div>
	</div>
  
	<div class="col-md-6">
	  <div class="box box-danger">
		<div class="box-header with-border">
		  <h3 class="box-title">Latest Attempts</h3>

		  <div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		  <div class="table-responsive">
			<table class="table no-margin">
			  <thead>
			  <tr>
				<th>IP Address</th>
				<th>User Agent String</th>
                                <th>Site</th>
				<th>Phase</th>
                                <th>Age</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
				<td>12.24.22.1</td>
                                <td>Some User Agent</td>
				<td><span class="label label-info">/exploit-site-1</span></td>
				<td>3 mins</td>
			  </tr>
			  <tr>
				<td>173.14.4.42</td>
                                <td>Some other UA</td>
				<td><span class="label label-danger">/robots.txt</span></td>
				<td>4 mins</td>
			  </tr>
			  </tbody>
			</table>
		  </div>
		</div>
		<div class="box-footer clearfix">
		  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">View All Logs</a>
		</div>
	  </div>
	</div>
  
  </div>
</section>
{% endblock %}

{% block footer %}
<script src="static/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="static/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="static/js/page.dashboard.js"></script>
<script src="static/js/jquery.sparkline.min.js"></script>
{% endblock %}
